<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.iyaffle.blouse" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Blouse Designs</name>
  <description>
        Dedicated app for ladies who love various blouse designs
    </description>
    <author email="info@iYaffle.com" href="http://www.iYaffle.com">
        iYaffle Technologies
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>